/* QL khách hàng */
.quanLy{
    width: 98%;
}

.quanLy table{
    width: 100%;
    margin-bottom: 10px;
}

.quanLy table th{
    padding: 5px;
    border-right: 1px solid #090909;
    border-bottom: 1px solid #090909;
}

.quanLy table td{
    border-right: 1px solid #090909;
    border-bottom: 1px solid #090909;
}

.quanLy table tr:nth-child(odd) td{
    background-color: #e6e6e6;
}

.quanLy table td a{
    text-decoration: none;
}