*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body{
    background-color: #E6E6E6;
}   

/* Header */
nav .container{
    width: 800px;
}

/* Footer */
.footer{
    padding: 8px;
    clear: both;
    background-color: #1c1c1c;
    text-align: center;
    color: #fff;
}

/* Login */
.page{
    width: 450px;
    height: 350px;
    margin: 150px auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h3{
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.box td{
    padding-bottom: 10px;
}

.box td.tenTruong{
    width: 120px;
}

.box td input[type=text], .box td input[type=password]{
    width: 240px;
    padding: 5px;
}

.box td a{
    float: right;
    text-decoration: none;
    font-style: italic;
    color: #424242;
}

.box td a:hover{
    text-decoration: underline;
}

.box td input[type=submit]{
    width: 100px;
    height: 35px;
    border: 1px solid #ff8000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    margin-left: 15px;
    margin-top: 10px;
}

.box td input[type=submit]:hover{
    cursor: pointer;
    background-color: #ff8000;
    color: #fff;
}

/* Index */
.main{
    width: 970px;
    height: 100%;
    margin: 90px auto;
    border: 1px solid rgba(0,0,0,.125);
}

/* Left */
div.left{
    width: 24%;
    float: left;
    margin-top: 15px;
}

div.left ul.list-group {
    width: 100%;
}

div.left ul.list-group li.list-group-item.lbl, div.left .thongke label {
    background-color: #ff8000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

div.left ul.list-group li.list-group-item a{
    text-decoration: none;
    color: #424242;
}

div.left .thongke{
    height: 110px;
    margin-top:10px;
    margin-bottom: 15px;
    border:1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

div.left .thongke span{
    padding-left: 15px;
}

/* Right */
div.right {
    width: 75%;
    float: left;
    margin-left: 1%;
}
div.right h3{
    text-align: center;
    padding: 15px;
}

div.right .box_info form{
    margin-top: 10px;
    padding-left: 180px;
}

div.right .box_info form .btn-middle{
    margin-left: 80px;
    margin-top: 10px;
}

div.right .box_info form .btn-middle input[type=submit]{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: #ff8000;
    color: #fff;
    margin-right: 5px;
    margin-top: 15px;
}

div.right .box_info form .btn-middle input[type=submit].cancel{
    width: 50px;
    height: 35px;
    border: 1px solid #ff8000;
    border-radius: 5px;
    background-color: #fff;
    color: #ff8000;
    margin-top: 15px;
}

div.right .box_info form .btn-middle input[type=submit].cancel:hover{
    cursor: pointer;
    background-color: #ff8000;
    color: #fff;
}